# MongoDB 설정
MONGODB_URI=mongodb://localhost:27017
DB_NAME=investment_analysis
COLLECTION_USERS=users
COLLECTION_EXPLAIN=explain
COLLECTION_OUTLINE=outline
COLLECTION_INDUSTRY=industry

# 서버 설정
HOST=0.0.0.0
PORT=8000
FRONTEND_URL=http://localhost:3000

# 기타 설정
DEBUG=False
